<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.okason.prontosalon"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".core.ProntoSalonApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".core.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".clientlist.ClientListActivity"
            android:label="@string/title_activity_client_list"
            android:parentActivityName=".core.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.prontosalon.core.MainActivity"/>
        </activity>
        <activity android:name=".calendar.CalendarActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".schedule.AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
